<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380287931734-ba71kndcsacp3c6u1gd7r0a3ce8euvd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380287931734-ba71kndcsacp3c6u1gd7r0a3ce8euvd8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>380287931734-0ne2n7v0k8fnpbjcer1g5tgmulasvhlo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3Yr4fmUbpHpAiLgZi8bAN90DnWQbfo4o</string>
	<key>GCM_SENDER_ID</key>
	<string>380287931734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sataware.spotapark-owner</string>
	<key>PROJECT_ID</key>
	<string>spot-a-park-app</string>
	<key>STORAGE_BUCKET</key>
	<string>spot-a-park-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380287931734:ios:02d8bc61777354dabe72f7</string>
</dict>
</plist>